<div class="attrhorialign">

    <div class="flexcol no-wrap">
        <div class="flexcol no-wrap">
            <div id="hit_icon" class="flex1 center">
                <input class="field-label-icon-hit field-value" name="system.attributes.renown" type="text" value="{{system.attributes.renown}}" placeholder="REN" data-dtype="Number"/>
            </div>
            <div class="flex1 center">
                <div class="field-label">{{ localize 'ONYRIA.attributes.renown.label' }}</div>
            </div>
        </div>
        <div class="flexcol no-wrap">
            
            <div id="initiative_icon" class="flex1 center">
                <input class="field-label-icon-initiative field-value" name="system.attributes.initiative" type="text" value="{{system.attributes.initiative}}" placeholder="Initiative" data-dtype="Number"/>
            </div>
            <div class="rollable" data-roll-formula="{{system.attributes.initiative}}" data-roll-type="initiative">
                <div class="flex1 center">
                    <div class="field-label">{{ localize 'ONYRIA.ui.init' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>