<form class="{{cssClass}}" autocomplete="off">
    {{#if (isOnyriaTypeSetting "onyria")}}
    <div class="wrap onyria-bg-std">
    {{/if}}
    {{#if (isOnyriaTypeSetting "stars")}}
    <div class="wrap onyria-bg-stars">
    {{/if}}
    {{#if (isOnyriaTypeSetting "contemporain")}}
    <div class="wrap onyria-bg-modern">
    {{/if}}   


{{> "systems/onyria/templates/actors/character/parts/character-header.hbs"}}

    {{#if (isOnyriaTypeSetting "onyria")}}
    <div class="flexrow main mainHeight_std" style="overflow: visible;">
    {{/if}}
    {{#if (isOnyriaTypeSetting "stars")}}
    <div class="flexrow main mainHeight_stars" style="overflow: visible;">
    {{/if}}
    {{#if (isOnyriaTypeSetting "contemporain")}}
    <div class="flexrow main mainHeight_modern" style="overflow: visible;">
    {{/if}}  
            <div class="content flex3">
                {{!-- Sheet Tab Navigation --}}
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item titleFont" data-tab="stats">{{ localize "ONYRIA.tabs.stats" }}</a>
                    <a class="item titleFont" data-tab="competences">{{ localize "ONYRIA.tabs.competences" }}</a>
                    <a class="item titleFont" data-tab="inventory">{{ localize "ONYRIA.tabs.inventory" }}</a>
                    <a class="item titleFont" data-tab="description">{{ localize "ONYRIA.tabs.description" }}</a>
                </nav>
                {{!-- Sheet Body --}}
                <section class="sheet-body" style="overflow: visible;">
                    {{!-- Stats Tab --}}
                    <div class="tab stats" data-group="primary" data-tab="stats">
                        {{> "systems/onyria/templates/actors/character/parts/stats/character-stats.hbs"}}
                    </div>
                    {{!-- Competences Tab --}}
                    <div class="tab competences" data-group="primary" data-tab="competences">
                        {{> "systems/onyria/templates/actors/character/parts/competences/character-competences.hbs"}}
                    </div>
                    {{!-- Inventory Tab --}}
                    <div class="tab inventory" data-group="primary" data-tab="inventory">
                        {{> "systems/onyria/templates/actors/character/parts/inventory/character-inventory.hbs"}}
                    </div>
                    {{!-- Description Tab --}}
                    <div class="tab description" data-group="primary" data-tab="description">
                        {{> "systems/onyria/templates/actors/character/parts/character-description.hbs"}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>

