<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <div>
            <h4>{{localize (concat "ONYRIA.category." item.type)}}</h4>
            <h4>
                {{#each ("ONYRIA.itemSubCategories") as |name category|}}
                <p>{{category}} - {{localize name}}</p>
                {{/each}}
                == {{item.system.subtype}}
                ==
            </h4>
        </div>
        <div>
            <h1>
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
            </h1>
        </div>
    </header>
    <hr/>
    <div>

    </div>
    Hello
</form>